/*
Theme Name: twentyseventeenchild
Author: Dawid Kotlarz
Description: Theme for test
Version: 1.0.0
License: MIT
Template: twentyseventeen
*/

@import url("../twentyseventeen/style.css");

.contact__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0;
}

.contact__logo {
    margin: 20px 0;
}

.contact__address, .contact__map {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.contact__map {
    width: 100%;
    height: 300px;
    border: 0;
}

.employee__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.employee_column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
}

.employee__item {
    font-weight: 700;
}

.employee_related .post{
    margin: 30px 0;
}
